body{
background-color: #222;
margin: 0;
position: relative;
}

div{
  margin: 20px 0 0 20px;
  width: 175px;
  border-radius: 5px;
  float: left;
}
h1{
  margin: 20px;
  font-size: 22px;
  font-family: helvetica, sans-serif;
  color: white;
}
h2{
  font-size: 14px;
  color: white;
}
h3{
  font-size: 11px;
  color:white;

}
