@media screen and (min-width: 960px){
  body{
    background-color: yellow;
  }

  ul li ul a{
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-radius: 50%;
    display: block;
    margin: 1rem;
    float: left;
  }
}
