@media screen and (min-width: 960px){

  body{
  background-image: url(../img/wall.jpg);
  overflow-x: hidden;
  }

  ul li{/*UF's*/
  clear: both;
  font-size: 10rem;
  list-style-type: none;
}
 .reproductor{
   position: relative;
   top: -10rem;
   left: 110rem;
 }
  .gif1{
    position: absolute;
    width: 16rem;
    height: 20rem;
    background-image: url(../img/skadance.gif);
    background-size: cover;
    top: -1rem;
    left: 12rem;
    animation: dance 10s ease infinite;
  }
  @keyframes dance {
    0% {position: absolute;
     left: 15rem;}
    50% {position: absolute;
      left: 110rem; transform: rotateY(180deg);}
    100% {position: absolute;
       left: 15rem;}
}

  ul li ul a{/*rodones*/
  display: inline-block;
  position: relative;
  width: 16rem;
  height: 16rem;
  background-color: black;
  border-radius: 8rem;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  margin: 5rem;
  text-decoration: none;
  text-align: center;
  }

  body ul li ul{/*div que envolta les rodones*/
  position: relative;
  width: 110rem;
  margin: 0 auto;
  height: 55rem;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5rem;
  }

  ul li{/*UF's*/
  position: relative;
  color: white;
  top: 2rem;
  clear: both;
  font-size: 8rem;
  font-family: helvetica, sans-serif;
  list-style-type: none;
}


  ul li ul a li{/*noms de les activitats*/
  position: relative;
  font-size: 2rem;
  top: 12rem;
  color: orange;
}

.hover{/*general rodona SKA*/
  display: block;
  float: left;
  background: transparent;
  width: 17rem;
  height: 17rem;
  border-radius: 9rem;
}
.hover:hover{
  background-image: url(../img/rodonaska.jpg);
}

.feedly{
  background-image: url(../img/mrfreakska.jpg);
  float: left;
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 1rem;
  left: 0.9rem;
}

.absolute{
  background-image: url(../img/hepcat.jpg);
  float: left;
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 1rem;
  left: 0.9rem;

}

.floata{
  background-image: url(../img/skatalites.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

.floatb{
  background-image: url(../img/skatala.jpeg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  margin: 0 auto;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

.escacs{
  background-image: url(../img/badmanners.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

.apps{
  background-image: url(../img/toots.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

.examen{
  background-image: url(../img/drcalypso.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

.retrat{
  background-image: url(../img/selecter.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 35rem;
  background-size: cover;
  top: 0rem;
  float: left;
  top: 1rem;
  left: 0.9rem;
}

/*-------UF4-------*/
.nomuf{
  position: relative;
  margin-top: 11rem;
}
.uf4{
  margin-top: 6rem;
}
.gif2{
  position: absolute;
  width: 16rem;
  height: 20rem;
  background-image: url(../img/skadance.gif);
  background-size: cover;
  top: 80rem;
  left: 12rem;
  animation: dance2 10s ease infinite;
}
@keyframes dance2 {
  0% {position: absolute;
   left: 110rem; transform: rotateY(180deg);}
  50% {position: absolute;
    left: 15rem; transform: rotateY(0deg);}
  100% {position: absolute;
     left: 110rem;transform: rotateY(180deg);}
}
.responsive{
  background-image: url(../img/upsessions.jpeg);
  width: 15rem;
  height: 15rem;
  border-radius: 7.5rem;
  line-height: 10rem;
  background-size: cover;
  top: 5rem;
  left: 6rem;
  margin: 0 auto;
}

}
